#classesplace fieldset{
   border:1px solid lightgrey;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   padding:4px;
}
input.class_name{
   margin:10px;
   border-width:2px;
}

label.label_chkbr{
font-style:italic;
margin-left:2px;
float:right;
}