#classesplace fieldset{
   border:1px solid lightgrey;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   padding:4px;
}
input.class_name{
   margin:10px;
   border-width:2px;
}

input.optional_value{
float:left;
margin-right:3px;
}

label.label_chkbr{
font-style:italic;
margin-left:2px;
float:right;
}

#logo{
height:20px;
}

.hero-unit{
margin-top:20px;
}
#scalalogo{
margin:10px;
}
#about{
font-style:italic;
}